@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.tile{
    width: 15%;
    aspect-ratio: 1 / 1;
    min-width: 64px;
}

.nav_shad{
    background: #8d0022;
    z-index: -1;
    filter: blur(10px);
}

.project_tile{
  min-width: 330px;
  min-height: 200px
}

.img{
  min-width: 300px
}

.hovText:hover h1 {
  @apply text-mainRed;
}

.sect{
  scroll-margin-top:100px;
}